export SCW_ACCESS_KEY="aaaaaaaaaaaaaa"
export SCW_SECRET_KEY="sssssssssssssss"
export SCW_DEFAULT_ORGANIZATION_ID="ooooooooooooo"
export AWS_PROFILE=ppppppppppp
export AWS_DEFAULT_REGION=rrrrrrrrrrrrr
